.sprints {
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note {
    color: rgba(0, 0, 0, 0.4);
}

/* .sprints__select {
    margin: 12px;
    padding: 24px 32px;
    border-radius: 16px;
    font-style: normal;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8px;
} */