@import '../../base.css';

.sprints {
  text-align: center;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note {
  color: var(--mediumEmphasis);
  font-weight: 300;
  font-size: 24px;
}

.sprints__form {
    margin-top: 32px;
}

.sprints__select {
  margin: 12px;
  padding: 18px 24px;
  border: 2px solid var(--lowEmphasis);
  border-radius: 16px;
  font-size: 18px;
  line-height: 28px;
  height: 64px;
  font-weight: 400;
}