@import '../../base.scss';

.btn {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 16px;
  height: 64px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.8px;
  border-radius: 16px;
  border: none;
}

.btn--primary {
  margin: 12px;
  padding: 24px 32px;
  color: #ffffff;
  background-color: var(--primaryBase);
}

.btn--primary:hover {
  background-color: var(--primaryLighter);
}

.btn--primary:active {
  background-color: var(--primaryDarker);
}

.btn--outlined {
  background-color: var(--surface);
  padding: 20px 24px 20px 16px;
  color: var(--primaryBase);
  border: 2px solid var(--primaryBase);
}

.btn--outlined:hover {
  background-color: var(--primaryLight1);
}

.btn--outlined:active {
  background-color: var(--primaryLight2);
}
