@import '../../base.css';

.subtask {
  /* border: 1px solid #999999; */
  box-shadow: 0 0 0 1px #999999;
  padding: 24px;
  padding-left: 16px;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  gap: 16px;
}

@media print {
  .subtask {
    break-inside: avoid-page;
    padding: calc(24pt * var(--print));
    padding-left: calc(16pt * var(--print));
    gap: calc(16pt * var(--print));
    box-shadow: none;
    border-bottom: calc(1pt * var(--print)) solid #999999;
  }
  .subtask:nth-child(3n+1),
  .subtask:nth-child(3n+2) {
    border-right: calc(1pt * var(--print)) solid #999999;
  }
  .subtask:nth-child(12n+10),
  .subtask:nth-child(12n+11),
  .subtask:nth-child(12n+12) {
    border-bottom: none;
  }
}

.subtask__rectangle {
  background-color: var(--warningBase);
  height: 100%;
  width: 12px;
  flex: 0 0 auto;
  border-radius: 12px;
  @media print {
    width: calc(12pt * var(--print));
    border-radius: calc(12pt * var(--print));
  }
}

.subtask__rectangle--blue {background-color: var(--primaryBase);}
.subtask__rectangle--green {background-color: var(--green);}
.subtask__rectangle--yellow {background-color: var(--yellow);}
.subtask__rectangle--grey {background-color: var(--lowEmphasis);}

.subtask__header {
  margin-bottom: 12px;
  @media print {
    margin-bottom: calc(12pt * var(--print));
  }
}

.subtask__summary {
  font-size: 38px;
  @media print {
    font-size: calc(38pt * var(--print));
  }
}