@import '../../assets/base.scss';

.sprint {
  padding: 32px 48px;
  box-shadow: 0 0 0 1px #999999;
  @media print {
    break-after: always;
    padding: calc(32pt * var(--print)) calc(48pt * var(--print));
    box-shadow: none;
  }
}

.sprint__details {

  @media screen and (min-width: 900px) {
    display: flex;
    gap: 16px;
  }
  @media print {
    display: flex;
    gap: calc(16pt * var(--print));
  }
  
  &--left {
    @media screen and (min-width: 900px) {
      flex: 1 1 calc(((100% - 24px) / 5) * 3);
    }
    @media print {
      flex-basis: calc(((100% - (24pt * var(--print))) / 5) * 3);
    }
  }

  &--right {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 900px) {
      flex: 0 1 calc(((100% - 24px) / 5) * 2);
    }
    @media print {
      flex-basis: calc(((100% - (24pt * var(--print))) / 5) * 2);
    }

    img {
      max-width: 100%;
    }
  }
}

.sprint__name {
  font-size: 6vw;
  font-weight: 600;
  color: var(--mediumEmphasis);
  @media screen and (min-width: 900px) {
    font-size: 48px;
  }
  @media print {
    font-size: calc(85pt * var(--print));
  }
}

.sprint__goal {
  font-size: 8vw;
  font-weight: 700;
  color: var(--highEmphasis);
  @media screen and (min-width: 900px) {
    font-size: 60px;
  }
  @media print {
    font-size: calc(113pt * var(--print));
  }
}

.sprint__dates {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 5.4vw;
  margin-top: 24px;
  @media screen and (min-width: 900px) {
    font-size: 54px;
  }
  @media print {
    font-size: calc(76pt * var(--print));
  }
}

.sprint__date {
  border-radius: 25.69px;
  padding: 12px 24px;
  display: block;
  @media screen and (min-width: 900px) {
    display: inline-block;
  }
  @media print {
    border-radius: calc(25.69pt * var(--print));
    padding: calc(12pt * var(--print)) calc(24pt * var(--print));
    display: inline-block;
  }
}

.sprint__date--start {
  color: rgba(19, 135, 0, 1);
  background-color: rgba(85, 217, 64, 0.12);
  margin-bottom: 32px;

  @media screen and (min-width: 900px) {
    margin-bottom: 0px;
    margin-right: 40px;
  }
  @media print {
    margin-bottom: 0pt;
    margin-right: calc(40pt * var(--print));
  }

  &::before {
    content: url('../../assets/icons/flag.svg');
    margin-right: 24px;
    vertical-align: -5%;
    @media print {
      margin-right: calc(12pt * var(--print));
    }
  }
}

.sprint__date--end {
  color: var(--warningBase);
  background-color: var(--warningLight1);

  &::before {
    content: url('../../assets/icons/sports_score.svg');
    margin-right: 24px;
    vertical-align: -5%;
    @media print {
      margin-right: calc(12pt * var(--print));
    }
  }
}