.footer {
  width: 100%;
  padding: 32px 0;
  color: #00000099;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  /*font-family: 'Inter', sans-serif;*/
}

@media print {
  .noprint {
    display: none;
  }
}